@model mongoDBproject.Models.Genre

@{
    ViewData["Title"] = "UpdateLibrarianGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateLibrarianGenre</h1>

<h4>Genre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateLibrarianGenre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdBook" class="control-label"></label>
                <input asp-for="IdBook" class="form-control" />
                <span asp-validation-for="IdBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreName" class="control-label"></label>
                <input asp-for="GenreName" class="form-control" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetListLibrarianGenre">Back to List</a>
</div>

